@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMono[wght].ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #140D1B;
  color: white;
  font-family: "JetBrains Mono";

	padding-inline: max(calc((100% - 750px) / 2), 20px);
}

a {
    color: white;
}

a:link {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

::selection {
  background-color: #7550A1;
}