:root {
  --background-color: #140D1B;
  --text-color:  #ffffff;

  --purple: #7550A1;
  --light-purple: #A084C2;
  --dark-purple: #452F5E;

  --yellow: #FFDA0A;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/public/fonts/JetBrainsMono[wght].ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "JetBrains Mono";

	padding-inline: max(calc((100% - 750px) / 2), 20px);
}

a {
  color: var(--text-color);
}

a:link {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

::selection {
  color: white;
  background-color: var(--purple);
}