---
const birthDate = new Date(2009, 10, 25);
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
if (today < new Date(today.getFullYear(), 10, 25)) {
	age--;
}
---

<h2>Hey, I'm <span class="name">Lukas</span>!</h1>
<p class="age">A {age} year old<span id="typewriter"></span><span class="cursor">|</span>based in <a href="https://www.openstreetmap.org/relation/3991125#map=12/39.3523/-9.3867">Portugal</a></p>
<p>I'm also a proud member of <a href="https://hackclub.com">Hack Club</a>.</p>
<p>When I'm not coding I'm either breathing solder fumes, gaming, reading, or listening to music way too loud.</p>

<style>
	.name {
		background-color: var(--purple);
	}

	.name::selection {
		background-color: var(--yellow);
	}

	.age {
		margin: 1em 0;
	}

	p {
		margin-bottom: 0.2rem;
	}

    h2 {
		margin-bottom: 0.5rem;
	}

    .cursor {
		animation: blink 1s step-end infinite;
	}

	@keyframes blink {
		50% { opacity: 0; }
	}
</style>


<script>
	const words = [" nerd", " homeschooler", " hardware enthusiast", " Hack Clubber", " programmer", " maker"];
	const typewriter = document.getElementById("typewriter")!;
	let wordIndex = 0;
	let charIndex = 0;
	let isDeleting = false;

	function type() {
		const currentWord = words[wordIndex];
		
		if (isDeleting) {
			typewriter.textContent = currentWord.substring(0, charIndex - 1);
			charIndex--;
		} else {
			typewriter.textContent = currentWord.substring(0, charIndex + 1);
			charIndex++;
		}

		let delay = isDeleting ? 50 : 100;

		if (!isDeleting && charIndex === currentWord.length) {
			delay = 2000;
			isDeleting = true;
		} else if (isDeleting && charIndex === 0) {
			isDeleting = false;
			wordIndex = (wordIndex + 1) % words.length;
			delay = 500;
		}

		setTimeout(type, delay);
	}

	type();
</script>