---
const birthDate = new Date(2009, 10, 25);
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
if (today < new Date(today.getFullYear(), 10, 25)) {
	age--;
}
---

<h2>Hey, I'm Lukas!</h1>
<p class="age">I'm a {age} year old<span id="typewriter"></span><span class="cursor">|</span>based in <a href="https://www.openstreetmap.org/search?query=peniche+portugal&zoom=16&minlon=-9.395992755889894&minlat=39.34483552156466&maxlon=-9.361853599548342&maxlat=39.36157703256755#map=15/39.35748/-9.37660">Portugal</a></p>
<p>Also I am a fellow member of Hack Club.</p>
<p>When I'm not in my world i like reading, music, surfing</p>

<style>

	.age {
		margin: 1em 0;
	}

	p {
		margin-bottom: 0.2rem;
	}

    h2 {
		margin-bottom: 0.5rem;
	}

    .cursor {
		animation: blink 1s step-end infinite;
	}

	@keyframes blink {
		50% { opacity: 0; }
	}
</style>


<script>
	const words = [" nerd", " homeschooler", " hardware enthusiast", " Hack Clubber", " tech nerd"];
	const typewriter = document.getElementById("typewriter")!;
	let wordIndex = 0;
	let charIndex = 0;
	let isDeleting = false;

	function type() {
		const currentWord = words[wordIndex];
		
		if (isDeleting) {
			typewriter.textContent = currentWord.substring(0, charIndex - 1);
			charIndex--;
		} else {
			typewriter.textContent = currentWord.substring(0, charIndex + 1);
			charIndex++;
		}

		let delay = isDeleting ? 50 : 100;

		if (!isDeleting && charIndex === currentWord.length) {
			delay = 2000;
			isDeleting = true;
		} else if (isDeleting && charIndex === 0) {
			isDeleting = false;
			wordIndex = (wordIndex + 1) % words.length;
			delay = 500;
		}

		setTimeout(type, delay);
	}

	type();
</script>